﻿
@{
    ViewBag.Title = "Detectors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using EmployeeChecker_WEB.Models
@model List<Detector>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>
    
    @Styles.Render("~/Content/css")
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">EmployeeChecker</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <ul class="nav navbar-nav">
                        <li><a href="/Home/Index">Home</a></li>
                        <li><a href="/Home/Employees">Employees</a></li>
                        <li class="active"><a href="">Detectors</a></li>
                    </ul>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="starter-template-simple">
            @if (Model.Count != 0)
            {
                <h3 class="text-center page-header">Detectors</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">Id: 225543</h4>
                        <p class="list-group-item-text">Placement: Ул. Культуры 22</p>
                    </a>
                </div>
            }
            else
            {
                <h3 class="text-center">Detectors' list is empty</h3>
            }
        </div>

    </div>

    @Scripts.Render("~/bundles/jqueryAndBootstrap")

</body>
</html>